body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0; /* Aumenta il padding per rendere la navbar più grande verticalmente */
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-size: 18px; /* Aumenta il font size */
    transition: font-size 0.1s; /* Aggiungi transizione per un effetto fluido */
}

.navbar a:hover {
    font-size: 20px; /* Aumenta il font size al passaggio del mouse */
}